---
layout: page
title: 全部题解
description: 标签
permalink: /
---


{% include cate_list.html cate="总结" %}

<br>
<br>
<br>

<div class="tag-list">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}">{{ tag[0] }} {{ tag[1] | size }}</a>
    {% endfor %}
</div>

<p style="margin-bottom: 10px;">共计 {{site.posts | where: "dup", nil | size}} 篇</p>

<div class="category-list">
    {% for tag in site.tags %}
    <div class="">
        <h3 id="{{ tag | first }}" class="m-list__title"><i class="icon iconfont icon-tag"></i>{{ tag | first }}</h3>
        <ul class="m-list">
            {% for post in tag.last | sort: 'qid' %}
            {% if post.dup != true %}
            <li class="list-item-inline">
                <a href="{{site.base_path}}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>